.wrapper {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.simple-card {
  color: antiquewhite;
}

.info {
  background-color: var(--toast-info-bg);
}

.success {
  background-color: var(--toast-success-bg);
}

.warning {
  background-color: var(--toast-warning-bg);
}

.error {
  background-color: var(--toast-error-bg);
}
