.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.tab-nav, .mobile-tab-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bg-secondary);
  position: relative;
  overflow: hidden;
}

.tab-nav {
  border-radius: 0 0 2rem 2rem;
}

.mobile-tab-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.tab-button, .mobile-tab-button {
  background: transparent;
  border: none;
  border-top: solid .25rem transparent;
  color: var(--text-primary);
  position: relative;
}

.tab-button {
  font-size: 16pt;
  cursor: pointer;
  padding: 1rem;
  transition: font-weight 300ms ease;
}

.mobile-tab-button {
  padding-block: .5rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: center;
}

.tab-indicator {
  position: absolute;
  height: .25rem;
  background-color: var(--primary-color);
  transition: left 0.3s ease, width 0.3s ease;
  pointer-events: none;
  width: 33.333%;
}

#desktop-tab-indicator {
  bottom: 0;
}

#mobile-tab-indicator {
  top: 0;
}

// Desktop indicator positioning - check 2nd child because 4th child is the indicator
.tab-nav:has(.tab-button:nth-child(1).tab-button-selected) #desktop-tab-indicator,
.mobile-tab-nav:has(.mobile-tab-button:nth-child(1).mobile-tab-button-selected) #mobile-tab-indicator{
  left: 0;
}

.tab-nav:has(.tab-button:nth-child(2).tab-button-selected) #desktop-tab-indicator,
.mobile-tab-nav:has(.mobile-tab-button:nth-child(2).mobile-tab-button-selected) #mobile-tab-indicator {
  left: 33.333%;
}

.tab-nav:has(.tab-button:nth-child(3).tab-button-selected) #desktop-tab-indicator,
.mobile-tab-nav:has(.mobile-tab-button:nth-child(3).mobile-tab-button-selected) #mobile-tab-indicator{
  left: 66.666%;
}

.tab-button:disabled, .mobile-tab-button:disabled {
  opacity: .2;
  cursor: auto;
}

.tab-button:first-child {
  padding-left: 2rem;
}

.tab-button:last-child {
  padding-right: 2rem;
}

.tab-button-selected {
  font-weight: bold;
}

.mobile-tab-button-selected {
  font-weight: bold;
}

.icon-svg {
  height: 2rem;
  width: 2rem;
  fill: var(--text-primary)
}

.tab-content-wrapper {
  padding-top: 4rem;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.tab-content-wrapper > * {
  position: absolute;
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.tab-content-wrapper > *.active {
  transform: translateX(0);
  pointer-events: auto;
}

.tab-content-wrapper > *.slide-left {
  transform: translateX(-100%);
}

.tab-content-wrapper > *.slide-right {
  transform: translateX(100%);
}
