.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bg-secondary);
  border-radius: 0 0 2rem 2rem;
}

.tab-button {
  background: transparent;
  border: none;
  border-bottom: solid .25rem transparent;
  color: var();
  font-size: 16pt;
  cursor: pointer;
  padding: 1rem;
}

.tab-button:first-child {
  padding-left: 2rem;
}

.tab-button:last-child {
  padding-right: 2rem;
}

.tab-button-selected {
  border-bottom-color: var(--primary-color);
}
