.simple-card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 45rem;
  max-width: 45rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 1.125rem;
}
