shiru.dog {
  respond /.well-known/matrix/server 200 {
                                           body `{"m.server":"matrix.shiru.dog:443"}`
                                           close
                                         }
  respond /.well-known/matrix/client 200 {
                                           body `{"m.homeserver":{"base_url":"https://matrix.shiru.dog"},"m.server":"matrix.shiru.dog:443","org.matrix.msc3575.proxy":{"url":"https://matrix.shiru.dog"}}`
                                           close
                                         }

  root * /var/www/html
  file_server
  try_files {path} /index.html
}

matrix.shiru.dog {
  reverse_proxy homeserver:6167
}
