shiru.dog {
  header /.well-known/matrix/* {
    Access-Control-Allow-Origin *
    Content-Type application/json
  }

  # respond /.well-known/matrix/support `{"contacts":[{"email_address": "contact@shiru.dog","matrix_id": "@cmd:shiru.dog","role": "m.role.admin"}]}`
  respond /.well-known/matrix/server `{"m.server": "shiru.dog:443"}`
  respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://shiru.dog"}}`

  reverse_proxy /_matrix/* homeserver:6167

  root * /var/www/html
  file_server
  try_files {path} /index.html
}
