.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  margin: 0;
}

.card-desktop {
  position: relative;
  min-width: 40rem;
  max-width: 40rem;
  container-type: inline-size;
}

@media (max-width: 47.5rem) {
  .card-mobile {
    position: relative;
    min-width: calc(100dvw - 4rem);
    max-width: calc(100dvw - 4rem);
    margin: 0 auto;
  }
}

h1 {
  font-size: 28pt;
  margin: 1rem;
}

p {
  font-size: 14pt;
}

.separator {
  height: 1px;
  border-radius: 1px;
  width: calc(100% - 2rem);
  background-color: var(--primary-color);
  margin: 1.5rem 1rem 1rem;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.social-button-mobile {
  padding: .5rem;
  min-width: 3rem;
  min-height: 3rem;
  box-shadow: none;
}

.social-button-mobile:hover {
  box-shadow: none;
}

.inner-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
  flex-grow: 1;
}

.sprite {
  position: absolute;
  scale: 0.8;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  animation-fill-mode: forwards;
  z-index: -1;
}

#sprite-1 {
  scale: .65;
  left: 25%;
  top: -58.8cqw;
  --from-x: 0;
  --from-y: 16.5rem;
}

#sprite-2 {
  scale: 0.40;
  left: 30%;
  top: -51.4cqw;
  --from-x: 0;
  --from-y: 12rem;
}

#sprite-3 {
  scale: .65;
  left: 115.55cqw;
  top: -20%;
  --from-x: -12rem;
  --from-y: 5rem;
}

.in-front {
  z-index: 1;
}

.appear {
  animation: slide-out 200ms cubic-bezier(0.04, 0.68, 0.45, 1.4) forwards;
}

.disappear {
  animation: slide-in 200ms cubic-bezier(0.55, -0.4, 0.96, 0.32) forwards;
}

@keyframes slide-out {
  0% {
    translate: var(--from-x, 0) var(--from-y, 0);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes slide-in {
  0% {
    translate: 0 0;
  }
  100% {
    translate: var(--from-x, 0) var(--from-y, 0);
  }
}

.sprite-hidden {
  opacity: 0;
}
