<div class="wrapper">
  @let sizeDynamic = sizeDynamic$ | async;
  <div class="simple-card card-mobile" [class.card-desktop]="!sizeDynamic">
    <h1 class="nunito-regular text-center">Hey, I'm Shiru!</h1>
    <p class="nunito-regular text-center">
      I'm a fox on the internet studying computer science who does art in his
      free time. Everything you see here was hand-coded and designed by yours
      truly! Below, you'll find links to my socials (and E-Mail) and my
      commission page—feel free to check them out :3
    </p>
    <div class="separator"></div>
    <div class="button-container">
      <a
        class="inset-button"
        href="mailto:contact@shiru.dog"
        rel="noreferrer noopener"
        target="_blank"
      >
        <img
          alt="Email Icon"
          height="48"
          [ngSrc]="
            'https://img.icons8.com/' +
            themeService.iconColor +
            '/material/48/new-post--v1.png'
          "
          width="48"
        />
      </a>
      <a
        class="inset-button"
        href="https://shirufox.tumblr.com"
        rel="noreferrer noopener"
        target="_blank"
      >
        <img
          alt="Tumblr Icon"
          height="48"
          [ngSrc]="
            'https://img.icons8.com/' +
            themeService.iconColor +
            '/material/48/tumblr.png'
          "
          width="48"
        />
      </a>
      <a href="/commissions" class="inset-button inset-button-text"
        >Commission</a
      >
      <a
        class="inset-button"
        href="https://bsky.app/profile/shirufox.bsky.social"
        rel="noreferrer noopener"
        target="_blank"
      >
        <img
          alt="Bluesky Icon"
          height="48"
          [ngSrc]="
            'https://img.icons8.com/' +
            themeService.iconColor +
            '/material/48/bluesky.png'
          "
          width="48"
        />
      </a>
      <a
        class="inset-button"
        href="https://artfight.net/~Shiru"
        rel="noreferrer noopener"
        target="_blank"
      >
        <img
          alt="Art Fight Icon"
          height="48"
          [ngSrc]="
            '/assets/logos/artfight' +
            ((themeService.isDarkMode$ | async) ? '_dark' : '') +
            '.png'
          "
          width="48"
        />
      </a>
    </div>
    @if (!sizeDynamic) {
      <img
        (click)="changeSprite()"
        (load)="spriteLoaded(1)"
        [ngClass]="{
          'sprite-hidden': initialAnimation && spriteNumber !== 1,
          'in-front': spriteNumber === 1 && !isChanging,
          appear: spriteNumber === 1 && spriteLoadedArray[0],
          disappear: spriteNumber !== 1,
        }"
        alt="Sprite"
        class="sprite"
        draggable="false"
        id="sprite-1"
        src="/assets/sprites/sprite_1.png"
      />
      <img
        (click)="changeSprite()"
        (load)="spriteLoaded(2)"
        [ngClass]="{
          'sprite-hidden': initialAnimation && spriteNumber !== 2,
          'in-front': spriteNumber === 2 && !isChanging,
          appear: spriteNumber === 2 && spriteLoadedArray[1],
          disappear: spriteNumber !== 2,
        }"
        alt="Sprite"
        class="sprite"
        draggable="false"
        id="sprite-2"
        src="/assets/sprites/sprite_2.png"
      />
      <img
        (click)="changeSprite()"
        (load)="spriteLoaded(3)"
        [ngClass]="{
          'sprite-hidden': initialAnimation && spriteNumber !== 3,
          'in-front': spriteNumber === 3 && !isChanging,
          appear: spriteNumber === 3 && spriteLoadedArray[2],
          disappear: spriteNumber !== 3,
        }"
        alt="Sprite"
        class="sprite"
        draggable="false"
        id="sprite-3"
        src="/assets/sprites/sprite_3.png"
      />
    }
  </div>
</div>

<button (click)="success()">success</button>
<button (click)="warning()">warning</button>
<button (click)="error()">error</button>
<button (click)="info()">info</button>
