:host {
  display: block;
}

p {
  margin: 0;
  line-height: 1.25rem;
  overflow-wrap: break-word;
  font-family: Minecraft, sans-serif;
  font-size: 1.25rem;
}

.red {
  color: #ff5555 !important;
}

.green {
  color: #55ff55 !important;
}

.yellow {
  color: #ffff55 !important;
}

#tooltip {
  left: calc(100% + 0.4rem);
  visibility: hidden;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  min-width: fit-content;
  backdrop-filter: blur(2px);
  width: max-content;
  padding: 0.25rem 0.5rem;
  color: #aaaaaa;
}

#sender {
  position: relative;
}

#sender:hover #tooltip {
  visibility: unset;
}
