:host {
  display: block;
}

p {
  margin: 0;
  line-height: 1.25rem;
  overflow-wrap: break-word;
  hyphens: auto;
  font-family: Minecraft, sans-serif;
  font-size: 1.25rem;
}

.red {
  color: #FF5555 !important;
}

.green {
  color: #55FF55 !important;
}

.yellow {
  color: #FFFF55 !important;
}
