<div id="chat-container">
  <div id="recent-messages">
    @for (m of chat.recentMessages(); track m.id) {
      <app-chat-message
        [message]="m"
        animate.leave="message-fade"
      ></app-chat-message>
    }
  </div>

  <div
    id="chat-window"
    tabindex="-1"
    #chatWindow
    (scroll)="onChatWindowScroll(chatWindow)"
    (wheel)="onChatWindowWheel($event, chatWindow)"
  >
    @for (m of chat.messages(); track m.id) {
      <app-chat-message
        [message]="m"
        animate.leave="message-fade"
      ></app-chat-message>
    }
    @if (!chat.connected()) {
      @if (
        chat.connectionState() === "connecting" ||
        chat.connectionState() === "idle"
      ) {
        <p>[Server] Connecting...</p>
      } @else {
        <p class="red">
          [Server] Failed to connect to server.&ensp;
          @if (chat.connectionState() === "failed") {
            <span class="clickable" (click)="chat.connect()">Click here</span>
            to retry.
          } @else {
            Retrying in {{ chat.retryIn() }}
            {{ chat.retryIn() === 1 ? "second" : "seconds" }}.
          }
        </p>
      }
    } @else if (!auth.isLoggedIn()) {
      <p class="grey">
        <span class="clickable" (click)="loggingIn.set(true)">Log In</span> / <span class="clickable" (click)="registering.set(true)">Register</span>
      </p>
    }
  </div>
  <div id="scrollbar"></div>

  <input
    class="chat-bar"
    [class.red]="chatInput.value.length > 256"
    id="chat-input"
    (keydown.enter)="sendMessage()"
    [attr.readonly]="sending() ? '' : null"
    #chatInput
  />

  <p
    id="message-length-warning"
    [class.hidden]="chatInput.value.length < 200"
    [class.red]="chatInput.value.length > 256"
  >
    {{ chatInput.value.length }}/256
  </p>

  <p class="chat-bar" id="chat-hint" (click)="chatInput.focus()">
    Press 't' or click here to chat...
  </p>
</div>

<div class="account">
  @if (loggingIn()) {
    <app-draggable-container
      cardTitle="Log In"
      [resizable]="false"
      (closeButtonClicked)="loggingIn.set(false)"
    >
      waow
    </app-draggable-container>
  }
</div>
