.account {
  z-index: 10000;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 50%;
  height: 75%;
  pointer-events: none;

  * {
    pointer-events: auto;
  }
}

p,
span,
input {
  font-family: Minecraft, sans-serif;
}

.input-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    font-family: Nunito, sans-serif;
    background-color: color-mix(
      in srgb,
      var(--transparent-card-background-colour) 75%,
      transparent
    );
    border: color-mix(in srgb, var(--transparent-card-border-colour) 75%, black)
      1px solid;
    color: var(--text-primary);
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: var(--transparent-card-radius);
    outline: var(--transparent-card-border-colour) 0 solid;

    transition:
      border 200ms,
      outline 200ms;

    &::placeholder {
      color: color-mix(
        in srgb,
        var(--transparent-card-border-colour) 80%,
        white
      );
    }

    &:hover {
      border: var(--transparent-card-border-colour) 1px solid;
    }

    &:focus {
      outline: var(--transparent-card-border-colour) 1px solid;
      border: var(--transparent-card-border-colour) 1px solid;
    }
  }

  button {
    width: 100%;
    background-color: var(--transparent-card-border-colour);
    border-radius: var(--transparent-card-radius);
    color: var(--text-primary);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;

    &:disabled {
      opacity: 50%;
    }
  }
}

p {
  margin: 0;
  line-height: 1.25rem;
  overflow-wrap: break-word;
  font-size: 1.25rem;
}

#chat-window,
#recent-messages {
  position: absolute;
  bottom: 5rem;
  width: clamp(30rem, 33%, 45rem);
  flex-direction: column;
  font-size: 1.25rem;
}

#chat-window {
  display: none;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 50%);
  padding-left: 0.75rem;
  max-height: 25rem;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

#scrollbar {
  position: absolute;
  right: calc(
    100% - clamp(30rem, 33%, 45rem) - 2px
  ); // aligns with right edge of chat window
  bottom: 5rem; // same as chat-window bottom
  width: 3px;
  background-color: #5a5975;
  display: none;
  pointer-events: none;
}

#recent-messages {
  display: flex;
  justify-content: flex-end;
  overflow-y: hidden;
  max-height: 12.5rem;
  padding-left: 0.75rem;

  app-chat-message {
    background-color: rgba(0, 0, 0, 50%);
    margin-left: -0.75rem;
    padding-left: 0.75rem;
  }
}

#chat-container:focus-within #chat-window {
  display: flex;
  flex-direction: column-reverse;
}

#chat-container:focus-within #scrollbar {
  display: unset;
}

#chat-container:focus-within #recent-messages {
  opacity: 0;
  pointer-events: none;
}

.message-fade {
  animation: message-fade 1s forwards;
}

@keyframes message-fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.chat-bar {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0 0.25rem;
  margin: 0;
  font-size: 1.25rem;
}

#chat-hint {
  font-style: italic;
  color: var(--text-grey);
  opacity: 75%;
}

#chat-container:focus-within #chat-hint {
  display: none;
}

#chat-input {
  opacity: 0;
  pointer-events: none;
  width: calc(100% - 1rem);

  background-color: rgba(0, 0, 0, 50%);
  border: none;
  outline: none;
  color: var(--text-primary);
}

#chat-input:read-only {
  color: var(--text-grey);
}

#chat-container:focus-within #chat-input {
  opacity: 1;
  pointer-events: unset;
}

#message-length-warning {
  display: none;
  position: absolute;
  right: 0.75rem;
  bottom: 2.5rem;
  font-size: 1.25rem;
  color: var(--text-primary);
  pointer-events: none;
}

#chat-container:focus-within #message-length-warning {
  display: unset;
}

.red {
  color: #ff5555 !important;
}

.grey {
  color: #aaaaaa !important;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}
