<div id="chat-container">
  <div id="recent-messages">
    @for(m of chat.recentMessages(); track m.id) {
      <p class="minecraft" animate.leave="message-fade"><{{ m.sender }}> {{ m.content }}</p>
    }
  </div>

  <div id="chat-window" tabindex="-1" #chatWindow>
    @for (m of chat.messages(); track m.id) {
      <p class="minecraft"><{{ m.sender }}>&nbsp;{{ m.content }}</p>
    }
  </div>

  <input class="chat-bar" id="chat-input" (keydown.enter)="sendMessage()" [attr.readonly]="sending() ? '' : null"
         #chatInput/>

  <p class="chat-bar" id="chat-hint" (click)="chatInput.focus()">Press 't' or click here to chat...</p>
</div>
