@let sizeDynamic = sizeDynamic$ | async;
<h1 class="nunito-regular text-center">Hey, I'm Shiru!</h1>
<p class="nunito-regular text-center">
  I'm a fox on the internet who studies computer science and does art &
  photography in his free time. Everything you see here was hand-coded and
  designed by yours truly! The Commissions and Gallery parts of this website are
  still in the works right now, but you'll be able to view my stuff in the
  latter once it's done! I'm also working on something reaaaally cool for the
  background right now, so stay tuned! In the meantime, you can find links to my
  socials (and E-Mail) below—feel free to check them out :3
</p>

@if (showNsfwToggle) {
  <div class="flex justify-center">
    <button class="nsfw-toggle-text" (click)="showNsfw.set(!showNsfw())">
      @if (!showNsfw()) {
        Show NSFW
      } @else {
        Show SFW
      }
    </button>
  </div>
}
<div class="separator"></div>
<div class="button-wrapper">
  @if (!showNsfw()) {
    <div class="flex flex-row justify-around items-center flex-wrap gap-y-4">
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="mailto:contact@shiru.dog"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
        ><app-icon class="button-icon" icon="mail" [size]="2.75 * 16" />
      </a>
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://shirufox.tumblr.com"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <app-icon icon="tumblr" [size]="2.75 * 16" />
      </a>
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://bsky.app/profile/shirufox.bsky.social"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <app-icon icon="bsky" [size]="2.75 * 16" />
      </a>
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://www.instagram.com/shiru.fox"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <app-icon icon="instagram" [size]="2.75 * 16" />
      </a>
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://artfight.net/~Shiru"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <img
          [ngSrc]="
            themeService.isSwapped()
              ? '/assets/logos/artfight_purple.png'
              : '/assets/logos/artfight_gold.png'
          "
          alt="Art Fight Icon"
          height="48"
          width="48"
        />
      </a>
    </div>
  } @else {
    <div class="flex flex-row justify-around items-center flex-wrap gap-y-4">
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://bsky.app/profile/shiruafterdark.bsky.social"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <app-icon icon="bsky" [size]="2.75 * 16" />
      </a>
      <a
        [class.social-button-mobile]="sizeDynamic"
        class="inset-button"
        href="https://e621.net/posts?tags=shirufox"
        rel="noreferrer noopener"
        target="_blank"
        animate.enter="button-enter"
        animate.leave="button-leave"
      >
        <app-icon icon="e621" [size]="3.5 * 16"
      /></a>
    </div>
  }
</div>
