.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem;
}

#size-constraint {
  width: 70rem;
  max-width: 70rem;
}

h2 {
  font-size: 36pt;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 8pt;
}

.simple-card {
  width: calc(100% - 10rem);
  margin-top: 10rem;
  text-align: center;
}
