.simple-card {
  width: 100%;
  text-align: center;
  min-width: 0;
}

.queue-card {
  margin-bottom: 5rem;
}

.queue-failed-container {
  width: 100%;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.queue-info-container {
  overflow-x: auto;
  min-width: 0;
  flex-shrink: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary) transparent;
  user-select: none;
}

.snap-mandatory {
  scroll-snap-type: x mandatory;
}

.grabby {
  cursor: grab;
}

.grabby:active {
  cursor: grabbing;
}

.queue-info-container::-webkit-scrollbar {
  height: 0.5rem;
}

.queue-info-container::-webkit-scrollbar-track {
  background: transparent;
}

.queue-info-container > div {
  min-height: 15rem;
}

.scroll-snap {
  scroll-snap-align: center;
}

::-webkit-scrollbar-button {
  display: none;
}

.queue-name {
  font-size: 24pt;
  letter-spacing: 6pt;
  margin: 0;
}

.queue-type {
  font-size: 14pt;
  margin: 0;
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.queue-status {
  font-size: 18pt;
  color: var(--accent-color);
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.page-columns {
  gap: 5rem;
}
