<div class="window-constraint">
  @let isMobile = breakpointService.isMobile$ | async;
  @if (!isMobile) {
    @if (openWindows().has("introduction")) {
      <app-draggable-container
        (closeButtonClicked)="close('introduction')"
        (mousedown)="bringToFront('introduction')"
        [resizable]="false"
        [prefWidth]="42 * 16"
        [zIndex]="zIndices()['introduction'] ?? 1"
        animate.enter="window-enter"
        animate.leave="window-leave"
        cardTitle="Introduction"
      >
        <app-about-me />
      </app-draggable-container>
    }

    @if (openWindows().has("changelog")) {
      <app-draggable-container
        (closeButtonClicked)="close('changelog')"
        (mousedown)="bringToFront('changelog')"
        [minWidth]="25 * 16"
        [minHeight]="16 * 16"
        [prefHeight]="60 * 16"
        [maxWidth]="50 * 16"
        [prefWidth]="50 * 16"
        [zIndex]="zIndices()['changelog'] ?? 1"
        animate.enter="window-enter"
        animate.leave="window-leave"
        cardTitle="Changelog"
      >
        <app-changelog />
      </app-draggable-container>
    }

    @if (openWindows().has("neighbourhood")) {
      <app-draggable-container
        (closeButtonClicked)="close('neighbourhood')"
        (mousedown)="bringToFront('neighbourhood')"
        [minWidth]="30 * 16"
        [minHeight]="18 * 16"
        [prefWidth]="30 * 16"
        [zIndex]="zIndices()['neighbourhood'] ?? 1"
        animate.enter="window-enter"
        animate.leave="window-leave"
        cardTitle="Neighbourhood"
      >
        <app-neighbourhood />
      </app-draggable-container>
    }

    @if (openWindows().has("settings")) {
      <app-draggable-container
        (closeButtonClicked)="close('settings')"
        (mousedown)="bringToFront('settings')"
        [resizable]="false"
        [zIndex]="zIndices()['settings'] ?? 1"
        animate.enter="window-enter"
        animate.leave="window-leave"
        cardTitle="Settings"
      >
        <app-settings [settingsData]="generalSettings" />
      </app-draggable-container>
    }

    @if (auth.isModerator() && openWindows().has('chat-moderation')) {
      <app-draggable-container
        (closeButtonClicked)="close('chat-moderation')"
        (mousedown)="bringToFront('chat-moderation')"
        [resizable]="false"
        [zIndex]="zIndices()['chat-moderation'] ?? 1"
        animate.enter="window-enter"
        animate.leave="window-leave"
        cardTitle="Chat Moderation"
      >

      </app-draggable-container>
    }
  } @else {
    <app-draggable-container
      [cardTitle]="'Whoopsie Daisy'"
      [class.hidden]="!isMobile"
      [resizable]="false"
    >
      <div>
        <h1>Whoops!</h1>
        <p>
          Yeah so I forgot to make the most recent update mobile compatible. If
          you wanna look at the website on your phone, switch to desktop mode
          until I fix that
        </p>
      </div>
    </app-draggable-container>
  }
</div>

@for (entry of taskbarEntries(); track entry[0]) {
  @if (entry[0] !== 'chat-moderation' || auth.isModerator()) { <!-- so incredibly unclean but it works i guess -->
    <button
      class="task-bar-button"
      #taskBarButton
      (click)="open(entry[0])"
      animate.enter="tab-enter"
      animate.leave="tab-leave"
      [style.right.px]="taskbarButtonPositions()[$index]"
    >
      @switch (entry[0]) {
        @case ("introduction") {
          <app-icon icon="person_circle" />
        }
        @case ("changelog") {
          <app-icon icon="changelog" />
        }
        @case ("neighbourhood") {
          <app-icon icon="neighbourhood" />
        }
        @case ("settings") {
          <app-icon icon="settings" />
        }
        @case ("chat-moderation") {
          <app-icon icon="swords" />
        }
        @default {
          <app-icon icon="maximise" />
        }
      }
      {{ entry[1] }}
    </button>
  }
}

@if (settings.get('enable_chat')()) {
  <app-chat />
}
