<div class="wrapper">
  <h1>My Button</h1>
  <button id="my-button" (click)="copy()">
    <img
      src="https://shiru.dog/assets/button.png"
      alt="Shiru's site"
      height="31"
      width="88"
    />
  </button>
  <p>{{ copied() ? 'Copied!' : 'Click it to copy :3' }}</p>

  <h1>Friends and Neighbours</h1>
  <div class="buttons">
    <a href="https://kuroi.com.br/" target="_blank" rel="noopener noreferrer">
      <img
        src="/assets/buttons/kuroi.png"
        alt="KuroiOS"
        height="31"
        width="88"
      />
    </a>
  </div>
</div>
