.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#my-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--text-primary);
}

#my-button ~ p {
  margin-top: 0;
}

hr {
  width: 100%;
  color: var(--transparent-card-border-colour);
}
