h2 {
  font-size: 32pt;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 8pt;
}

button {
  border: none;
  border-radius: 10rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  padding-inline: 1.25rem;
  font-weight: bold;
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--primary-highlight-color);
}

#size-constraint {
  width: min(90rem, calc(100vw - 4rem));
  max-width: 100%;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 2rem;
   min-height: 100vh;
   box-sizing: border-box;
 }

.simple-card {
  width: 100%;
  text-align: center;
  min-width: 0;
}

.queue-card {
  margin-bottom: 5rem;
}

.queue-failed-container {
  width: 100%;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.queue-info-container {
  overflow-x: auto;
  min-width: 0;
  flex-shrink: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary) transparent;
  user-select: none;
  //scroll-snap-type: x mandatory;
}

.grabby {
  cursor: grab;
}

.grabby:active {
  cursor: grabbing;
}

.queue-info-container::-webkit-scrollbar {
  height: 0.5rem;
}

.queue-info-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-snap {
  scroll-snap-align: center;
}

::-webkit-scrollbar-button {
  display: none;
}

.queue-name {
  font-size: 24pt;
  letter-spacing: 6pt;
  margin: 0;
}

.queue-type {
  font-size: 14pt;
  margin: 0;
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.queue-status {
  font-size: 18pt;
  color: var(--accent-color);
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.page-columns {
  gap: 5rem;
}

.page-columns > .simple-card:first-child {
  flex: 0 0 auto;
}

.page-columns > .simple-card:last-child {
  flex: 1;
}

