<div class="wrapper">
  <div id="size-constraint">
    @let isPortrait = isHandsetPortrait$ | async;

    <!-- COMMISSION QUEUE -->
    <div class="simple-card w-100 queue-card">
      <h2 class="mb-5">COMMISSION QUEUE</h2>
      <div
        class="d-flex flex-row gap-5 w-100 queue-info-container"
        [class.snap-mandatory]="isPortrait"
        #queueContainer
      >
        @let queue = queue$ | async;
        @if (queue?.loading) {
          <app-skeleton-loader
            height="15rem"
            class="flex-grow-1"
          ></app-skeleton-loader>
        } @else if (queue?.error) {
          <div class="queue-failed-container">
            <h5>Failed to load the queue</h5>
            <button (click)="retryQueue()">Retry</button>
          </div>
        } @else if (queue?.data) {
          @for (datum of queue?.data ?? []; track $index) {
            <div
              class="d-flex flex-column justify-content-between gap-4 flex-grow-1 scroll-snap"
            >
              <h2 class="color-primary queue-name">
                {{ datum.clientName.toUpperCase() }}
              </h2>
              <div>
                @for (type of datum.commissionTypes; track type) {
                  <p class="queue-type">{{ type }}</p>
                }
              </div>
              <p class="queue-status">{{ datum.status }}</p>
            </div>
          }
          @for (i of Array.from({ length: 5 - queue!.data!.length }); track i) {
            <div
              class="d-flex flex-column justify-content-center flex-grow-1 scroll-snap"
            >
              <p class="queue-type dog-text-secondary">- Empty Slot -</p>
            </div>
          }
        }
      </div>
    </div>

    <!-- COMPOSITION -->
    <div class="d-flex flex-row page-columns">
      <!-- NAVIGATOR -->
      <div class="simple-card">
        <h3 class="navigator-header inter-bold">Navigator</h3>
        <div class="navigator-subheader">
          <span>Composition</span>
        </div>
        <p>Headshot</p>
        <p>Bust</p>
        <p>Half-Body</p>
        <p>Full-Body</p>
        <p>Reference Sheet</p>
        <div class="navigator-subheader">
          <span>Backgrounds</span>
        </div>
        <p>Basic</p>
        <p>Abstract</p>
        <p>Full Scene</p>
        <div class="navigator-subheader">
          <span>Extras</span>
        </div>
        <p>Additional Characters</p>
        <p>Custom Requests</p>
      </div>
      <!-- ALL THE OTHER STUFF -->
      <div class="d-flex flex-column w-100">
        <div class="simple-card comm-type-card">
          <h2>HEAD-SHOT</h2>
          <h3 class="price">20-40€</h3>
          <p>A drawing of the commissioned character(s) shoulders up.</p>
          <p>Higher focus on facial detail.</p>
        </div>

        <div class="simple-card comm-type-card">
          <h2>BUST</h2>
          <h3 class="price">25-35€</h3>
          <p>A drawing of the commissioned character(s) from the chest up.</p>
          <p>Good balance between facial and clothing details.</p>
        </div>

        <div class="simple-card comm-type-card">
          <h2>HALF-BODY</h2>
          <h3 class="price">30-50€</h3>
          <p>A drawing of the commissioned character(s) from the waist up.</p>
          <p>Allows for more focus on clothing and character posing.</p>
        </div>

        <div class="simple-card comm-type-card">
          <h2>FULL-BODY</h2>
          <h3 class="price">40-60€</h3>
          <p>A drawing of the commissioned character(s) from head to toe.</p>
          <p>
            Full focus on the character's overall design with space for any
            pose.
          </p>
        </div>

        <div class="simple-card comm-type-card">
          <h2>REFERENCE SHEET</h2>
          <h3 class="price">80€</h3>
          <p>
            A reference sheet for one character. Reference sheets will always be
            in flat colour and have a flat colour or abstract background.
          </p>
          <p class="color-primary nunito-bold mb-0">
            When you commission a reference sheet, please disclose your
            character's:
          </p>
          <ul>
            <li>
              Name, pronouns, species and other details you may want to include
            </li>
            <li>Demeanour (i.e. smug, cheerful, cold, etc.)</li>
            <li>Overall aesthetic and/or interests—mood-board help!</li>
          </ul>
          <p class="color-primary nunito-bold mb-0">
            The base price includes up to:
          </p>
          <ul>
            <li>
              Two full-body poses (unclothed, front and back by default, unless
              you request otherwise)
            </li>
            <li>
              The name, pronouns, species, colour palette and other textual
              details about your character
            </li>
            <li>
              Some props and/or accessories or marking details, if desired
            </li>
          </ul>
          <p>
            Additional fees may apply if I have to design the character for/with
            you, for additional views/poses, for particularly dynamic or complex
            poses, etc.
          </p>
          <p>
            If you don't have a visual reference for your character, I recommend
            colouring a base to include in your commission
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
