h2 {
  font-size: 32pt;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 8pt;
}

button {
  border: none;
  border-radius: 10rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  padding-inline: 1.25rem;
  font-weight: bold;
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--primary-highlight-color);
}

#size-constraint {
  width: max(80rem, 75vw);
  max-width: max(80rem, 75vw);
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 2rem;
 }

.simple-card {
  width: calc(100% - 10rem);
  margin-top: 10rem;
  text-align: center;
}

.queue-failed-container {
  width: 100%;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.queue-name {
  font-size: 24pt;
  letter-spacing: 6pt;
  margin: 0;
}

.queue-type {
  font-size: 14pt;
  margin: 0;
  letter-spacing: 2px;
}

.queue-status {
  font-size: 18pt;
  color: var(--accent-color);
  letter-spacing: 2px;
}
