.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  margin: 0;
}

.card-desktop {
  width: 90rem;
  height: 40rem;
  padding: 4rem;
}

.card-mobile {
  width: 70vw;
  padding: 2rem;
}

img {
  height: 35rem;
  object-fit: contain;
}

h1 {
  font-size: 2.25rem;
}

p {
  font-size: 1.5rem;
}
