<ul>
  <li>
    <div class="status planned nunito-bold">Planned</div>
    <div class="text">Multiple scenes for the background</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">Commissions Tab</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">Profile Pictures</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">Art & Photo Gallery</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">Blog</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">Minecraft-esque REST based chat</div>
  </li>
</ul>
<ul>
  <li>
    <div class="status in-progress nunito-bold">In Progress</div>
    <div class="text">Live, controllable Minecraft background</div>
  </li>
</ul>
<ul>
  <li>
    <div class="status completed nunito-bold">Completed</div>
    <div class="text">Settings menu</div>
    <div class="nunito-light">2026-03-02</div>
  </li>
  <li>
    <div class="status"></div>
    <div class="text">This changelog</div>
    <div class="nunito-light">2026-03-02</div>
  </li>
</ul>
