@if (visible()) {
  <div
    class="context-menu"
    #menu
    [class.visible]="visible()"
    [style.left.px]="x()"
    [style.top.px]="y()"
  >
    @for (item of safeItems(); track item.label) {
      <button
        class="context-menu-item"
        [class.danger]="item.danger"
        [disabled]="item.disabled"
        (mousedown)="$event.preventDefault()"
        (click)="item.action()"
      >
        @if (hasIcons()) {
          <app-icon [icon]="item.icon ?? 'empty'"></app-icon>
        }
        {{ item.label }}
      </button>
    }
    @if (dangerItems().length !== 0) {
      <hr />
      @for (item of dangerItems(); track item.label) {
        <button
          class="context-menu-item"
          [class.danger]="item.danger"
          [disabled]="item.disabled"
          (mousedown)="$event.preventDefault()"
          (click)="item.action()"
        >
          @if (hasIcons()) {
            <app-icon [icon]="item.icon ?? 'empty'"></app-icon>
          }
          {{ item.label }}</button>
      }
    }
  </div>
}
