.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: auto;
}

#size-constraint {
  width: min(90rem, calc(100vw - 4rem));
  max-width: 100%
}
