.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  max-width: calc(100vw - 4rem);
  width: 40rem;
  height: 5rem;
  border-radius: 1rem;
  outline: 4px solid var(--primary-color);
  padding: 1rem;
  transition: background-color 250ms ease, outline 100ms;
}

.input-container:hover, .input-container:focus-within {
  background-color: var(--bg-secondary);
  outline: 2px solid var(--primary-color)
}

button {
  background: none;
  border: none;
}

input {
  color: var(--text-primary);
  width: 100%;
  border: none;
  background: none;
  outline: none;
  text-align: center;
  font-size: 20pt;
}

svg {
  fill: var(--primary-color);
  height: 3em;
  width: 3em;
}
