<h1>Planned</h1>
<ul>
  <li>Live Minecraft background that's controlled by everyone on the website</li>
  <li>Minecraft-style chat with accounts</li>
  <li>Gallery tab to view my art and photos</li>
  <li>Commission tab. Originally meant only for drawings, will probably be expanded to more</li>
</ul>
<hr />
<div class="changes">
  @for (entry of changelog; track entry.date) {
    <app-changelog-entry
      [additions]="entry.additions ?? undefined"
      [changes]="entry.changes ?? undefined"
      [fixes]="entry.fixes ?? undefined"
      [removals]="entry.removals ?? undefined"
      [date]="entry.date ?? '0001-01-01'"
    />
  }
</div>
