@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --bg-primary: #f8eae2;
  --bg-secondary: #fcf7f5;
  --bg-secondary-inset: #fcf2f0;
  --text-primary: #000000;
  --text-secondary: #bdbdbd;
  --primary-color: #faaf3a;
  --primary-highlight-color: #f8be70;
  --accent-color: #6446ea;
  --accent-highlight-color: #705be3;
  --shadow-color: rgba(61, 64, 82, 0.25);
  --highlight-color: white;
  --skeleton-base: #e2e8f0;
  --skeleton-highlight: #f1f5f9;
}

[data-theme="dark"] {
  --bg-primary: #0e151c;
  --bg-secondary: #1f2534;
  --bg-secondary-inset: #19202d;
  --text-primary: #f1f5f9;
  --text-secondary: #7b8588;
  --primary-color: #6446ea;
  --primary-highlight-color: #705be3;
  --accent-color: #faaf3a;
  --accent-highlight-color: #f8be70;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --highlight-color: rgba(134, 100, 206, 0.1);
  --skeleton-base: #374151;
  --skeleton-highlight: #4b5563;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.color-primary {
  color: var(--primary-color)
}

.dog-text-secondary {
  color: var(--text-secondary)
}

.hidden {
  display: none;
}

.italic {
  font-style: italic !important;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.simple-card {
  padding: 2rem;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.inset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  border-radius: 4rem;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition:
    box-shadow 250ms ease-in-out,
    color 0.3s ease;
  box-shadow:
    inset 0 0 0 var(--shadow-color),
    inset 0 0 0 var(--highlight-color);
}

.inset-button img {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
}

.icon-svg {
  width: 2.75rem;
  height: 2.75rem;
  fill: var(--primary-color);
  transition: fill 0.3s ease;
}

.inset-button:hover {
  box-shadow:
    inset 2px 2px 6px var(--shadow-color),
    inset -3px -3px 6px var(--highlight-color);
}

.inset-button-text {
  padding-block: 0.25rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  font-size: 15pt;
  font-weight: 700;
  text-align: center;
  width: fit-content;
}

* {
  font-family: "Nunito", sans-serif;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
