:root {
  --bg-primary: #f8eae2;
  --bg-secondary: #fcf7f5;
  --text-primary: #000000;
  --accent-color: #faaf3a;
  --shadow-color: rgba(11, 21, 59, 0.25);
  --highlight-color: white;
}

[data-theme="dark"] {
  --bg-primary: #0e151c;
  --bg-secondary: #1f2534;
  --text-primary: #f1f5f9;
  --accent-color: #6446ea;
  --shadow-color: rgba(0, 0, 0, 0.4);
  --highlight-color: rgba(134, 100, 206, 0.1);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.hidden {
  display: none;
}

.italic {
  font-style: italic !important;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.simple-card {
  padding: 2rem;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.inset-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: var(--accent-color);
  text-decoration: none;
  transition:
    box-shadow 250ms ease-in-out,
    color 0.3s ease;
  box-shadow:
    inset 0 0 0 var(--shadow-color),
    inset 0 0 0 var(--highlight-color);
}

.inset-button:hover {
  box-shadow:
    inset 2px 2px 6px var(--shadow-color),
    inset -3px -3px 6px var(--highlight-color);
}

.inset-button-text {
  padding-block: 0.25rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  font-size: 15pt;
  font-weight: 700;
  text-align: center;
  width: fit-content;
}

* {
  font-family: "Nunito", sans-serif;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
