@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --bg-primary: #0e151c;
  --bg-secondary: #1f2534;
  --bg-tertiary: #19202d;

  --text-primary: #f1f5f9;
  --text-grey: #5c6677;
  --text-green: #41884e;
  --text-blue: #41679b;
  --text-red: #af3838;

  --primary-colour-highlight: #f8be70;
  --primary-colour: #faaf3a;
  --primary-colour-2: #f47a20;
  --primary-colour-3: #e04e1a;
  --primary-colour-4: #c42b14;
  --accent-colour-highlight: #705be3;
  --accent-colour: #6446ea;
  --accent-colour-2: #8a3fda;
  --accent-colour-3: #b336b6;
  --accent-colour-4: #d02b7d;

  --shadow-colour-4: rgba(0, 0, 0, 0.4);
  --shadow-colour-3: rgba(0, 0, 0, 0.3);
  --shadow-colour-2: rgba(0, 0, 0, 0.2);
  --shadow-colour-1: rgba(0, 0, 0, 0.1);

  --highlight-colour: rgba(134, 100, 206, 0.1);
  --skeleton-base: #374151;
  --skeleton-highlight: #4b5563;

  --transparent-card-border-colour: #454b67;
  --transparent-card-background-colour: color-mix(
    in srgb,
    var(--bg-secondary) 66%,
    transparent
  );
  --transparent-card-seconary-background-colour: color-mix(
    in srgb,
    var(--bg-tertiary) 66%,
    transparent
  );
  --transparent-card-blur: 32px;
  --transparent-card-radius: 0.75rem;
}

[data-theme="swap"] {
  --accent-colour-highlight: #f8be70;
  --accent-colour: #faaf3a;
  --accent-colour-2: #f47a20;
  --accent-colour-3: #e04e1a;
  --accent-colour-4: #c42b14;
  --primary-colour-highlight: #705be3;
  --primary-colour: #6446ea;
  --primary-colour-2: #8a3fda;
  --primary-colour-3: #b336b6;
  --primary-colour-4: #d02b7d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-size: cover;
  background: url("/assets/img_1.png") center;
  //background-color: var(--bg-primary);
  color: var(--text-primary);
}

.colour-primary {
  color: var(--primary-colour);
}

.colour-accent {
  color: var(--accent-colour);
}

.hidden {
  display: none !important;
}

.italic {
  font-style: italic !important;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.simple-card {
  padding: 2rem;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.inset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  border-radius: 4rem;
  color: var(--primary-colour);
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition:
    box-shadow 250ms ease-in-out,
    color 0.3s ease;
  box-shadow:
    inset 0 0 0 var(--shadow-colour-4),
    inset 0 0 0 var(--highlight-colour);
}

.inset-button img {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
  transition: scale 0.3s ease;
}

.icon-svg {
  width: 2.75rem;
  height: 2.75rem;
  fill: var(--primary-colour);
  transition:
    scale 0.3s ease,
    fill 0.3s ease;
}

.inset-button:hover .icon-svg,
.inset-button:hover img {
  scale: 95%;
}

.inset-button:hover {
  box-shadow:
    inset 2px 2px 6px var(--shadow-colour-4),
    inset -3px -3px 6px var(--highlight-colour);
}

.inset-button-text {
  padding-block: 0.25rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  width: fit-content;
}

@font-face {
  font-family: "Minecraft";
  src: url("/assets/fonts/minecraft-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/assets/fonts/minecraft-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/assets/fonts/minecraft-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Minecraft";
  src: url("/assets/fonts/minecraft-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito-variable.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter-variable.woff2") format("woff2");
  font-weight: 200 1000;
  font-style: normal;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.minecraft {
  font-family: "Minecraft", sans-serif;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-light {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
