<div class="wrapper">
  <div class="simple-card">
    <h1 class="nunito-regular text-center">Hey, I'm Shiru!</h1>
    <p class="nunito-regular text-center">
      I'm a dog studying computer science who does art in his free time. Everything
      you see here was hand-coded and designed by yours truly! Below, you'll find links to my socials and my commissions
      page—feel free to check them out :3
    </p>
    <div class="separator"></div>
    <div class="button-container">
      <a href="mailto:shirufox.contact@gmail.com" target="_blank" rel="noreferrer noopener">
        <img ngSrc="https://img.icons8.com/faaf3a/material/48/new-post--v1.png" alt="Email Icon" width="48" height="48">
      </a>
      <a href="https://shirufox.tumblr.com" target="_blank" rel="noreferrer noopener">
        <img ngSrc="https://img.icons8.com/faaf3a/material/48/tumblr.png" alt="Tumblr Icon" width="48" height="48">
      </a>
      <a href="/commission" class="nunito-regular">Commission</a>
      <a href="https://bsky.app/profile/shirufox.bsky.social" target="_blank" rel="noreferrer noopener">
        <img ngSrc="https://img.icons8.com/faaf3a/material/48/bluesky.png" alt="Bluesky Icon" width="48" height="48">
      </a>
      <a href="https://www.furaffinity.net/user/sh1ru" target="_blank" rel="noreferrer noopener">
        <img ngSrc="/assets/furaffinity.svg" alt="Furaffinity Icon" width="48" height="48" />
      </a>
    </div>
  </div>
</div>
